@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
 * {box-sizing: border-box}
 body{
   font-family: 'Noto Sans JP', sans-serif;
   position: relative;
 }
 body{
  margin: 0 auto;
 }
 h1, label{
   color: rgb(0, 0, 0);
 }
   input[type=text], input[type=password] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   width:100%;
   resize: vertical;
   padding:15px;
   border-radius:15px;
   border:0;
   box-shadow:4px 4px 10px rgba(0,0,0,0.2);
 }
input[type=text]:focus, input[type=password]:focus {
   outline: none;
 }
hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
 }
button {
   background-color: #c21e1e;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
 }
button:hover {
   opacity:1;
 }
.cancelbtn {
   padding: 14px 20px;
   background-color: #f44336;
 }
.signupbtn {
   float: left;
   width: 100%;
   border-radius:15px;
   border:0;
   box-shadow:4px 4px 10px rgba(0,0,0,0.2);
 }
.container {
   max-width: 400px;
   flex-grow: 1;

 }
.clearfix::after {
   content: "";
   clear: both;
   display: table;
 }
 .khung{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    position:absolute;
    left: 40%;
 }
 .boxtop{
  float: left;
  width: 100%;
  background-color: black;
  height: 50px;
  }
  .boxcenter{
     width: 100%;
     margin: 10 auto;
  
  }
  .boxtopleft{
     float: left;
     height: 50px;
     line-height: 50px;
     color: white;
     margin-left: 20px;
  }
  .boxtopright{
     float: right;
     margin-right:100px;
  }
  .boxtopright a{
     color: white;
     line-height: 50px;
     text-decoration: none;
     margin-right: 15px;
  }
  .back{
   margin-top: 30px;
  }
  .back a{
   text-decoration: none;
   border: 1px black solid;
   background-color: aqua;
   font-size: 20px;
   border-radius: 5px;
   padding: 10px;
}